{% assign contact = site.data.contact %}
<div class="row text-xs-center mb-1">
  <div class="col-xs">
    <h1>Contact</h1>
  </div>
</div>

<form class="mt-1" id="contact-form" action="//formspree.io/{{ contact.email }}" method="POST">
  
  <div class="form-group row mb-0">
    <label class="col-sm-3 col-form-label text-sm-right text-xs-left">e-mail:</label>
    <div class="col-sm-9">
      <p class="form-control-static mb-0"><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
    </div>
  </div>

  <div class="form-group row mb-0">
    <label class="col-sm-3 col-form-label text-sm-right text-xs-left"> Phone:</label>
    <div class="col-sm-9">
      <p class="form-control-static"><a href="tel:{{ contact.phone[page.lang] | replace : ' ', '' }}">{{ contact.phone }}</a></p>
    </div>
  </div>



</form>
