<!--<div class="col-lg-6 col-md-6 col-sm-6" style='text-align:center'>-->

  {% if m.photo %}<img class="rounded img-fluid"  src="/img/{{m.photo}}"  width="150px" height="150px">{% endif %}

  <h5 class="mt-1" > <a href="{{m.homepage}}">{{ m.name | escape }}</a></h5>
  <p> {{m.position}}
  {% if m.status == "principal" %}<br><em>Principal Investigator</em>
  <br>
  <a href="mailto:{{m.email}}" title="email"><i class="fa fa-envelope"></i></a>
  {% if m.twitter %}<a href="https://twitter.com/{{m.twitter}}" title="Twitter"><i class="fa fa-twitter"></i></a>{% endif %}
    {% if m.linkedin %}<a href="{{m.linkedin}}" title="LinkedIn"><i class="fa fa-linkedin"></i></a>{% endif %}
    {% if m.researchgate %}<a href="{{m.researchgate}}" title="ResearchGate"><i class="ai ai-researchgate"></i></a>{% endif %}
    {% if m.github %}<a href="https://github.com/{{m.github}}" title="GitHub"><i class="fa fa-github"></i></a>{% endif %}
    {% if m.orcid %}<a href="https://orcid.org/{{m.orcid}}" title="ORCID ID"><i class="ai ai-orcid"></i></a>{% endif %}
    {% if m.googlescholar %}<a href="{{m.googlescholar}}" title="Scholar"><i class="ai ai-google-scholar"></i></a>{% endif %}
  {% endif %}
  </p>
  {% unless m.status == "principal" %} 
  <p class="socialicons">
    <a href="mailto:{{m.email}}" title="email"><i class="fa fa-envelope"></i></a>
    {% if m.twitter %}<a href="https://twitter.com/{{m.twitter}}" title="Twitter"><i class="fa fa-twitter"></i></a>{% endif %}
    {% if m.linkedin %}<a href="{{m.linkedin}}" title="LinkedIn"><i class="fa fa-linkedin"></i></a>{% endif %}
    {% if m.researchgate %}<a href="{{m.researchgate}}" title="ResearchGate"><i class="ai ai-researchgate"></i></a>{% endif %}
    {% if m.github %}<a href="https://github.com/{{m.github}}" title="GitHub"><i class="fa fa-github"></i></a>{% endif %}
    {% if m.orcid %}<a href="https://orcid.org/{{m.orcid}}" title="ORCID ID"><i class="ai ai-orcid"></i></a>{% endif %}
    {% if m.googlescholar %}<a href="{{m.googlescholar}}" title="Scholar"><i class="ai ai-google-scholar"></i></a>{% endif %}
  </p>
  {% endunless %}


