{% capture nav_prefix %}/{{ page.lang }}/{% endcapture %}
<nav class="navbar navbar-light bg-faded navbar-fixed-top">
  <div class="container">
    
    <!-- Dropdown for small sreens -->
    <!--<button type="button"  class="navbar-toggler hidden-sm-up float-xs-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>-->
    <button type="button"  class="navbar-toggler hidden-sm-up" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu dropdown-menu-right" style='z-index: 1050;'>
	  <a class="dropdown-item" href="index.html">home</a>
	  <a class="dropdown-item" href="about.html">about</a>
      <a class="dropdown-item" href="team.html">team</a>	    
      <a class="dropdown-item" href="publications.html">publications</a>
	  <!--  <a class="dropdown-item" href="news.html">News</a> -->
      <!-- <a class="dropdown-item" href="events.html">events</a> -->
    </div>

	<!-- Normal menu -->
    <div class="collapse navbar-toggleable-xs">
        <ul class="nav navbar-nav float-xs-right">
		<li class="nav-item"><a class="nav-link" href="index.html">home</a></li>
		<li class="nav-item"><a class="nav-link" href="about.html">about</a></li>
		<li class="nav-item"><a class="nav-link" href="team.html">team</a></li>
		<li class="nav-item"><a class="nav-link" href="publications.html">publications</a></li>
		<!-- <li class="nav-item"><a class="nav-link" href="news.html">News</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" href="events.html">events</a></li> -->
      </ul>
    </div>
  </div>
</nav>
