{% capture nav_prefix %}/{{ page.lang }}/{% endcapture %}
<nav class="navbar navbar-light bg-faded navbar-fixed-top">
  <div class="container">
    
    <!-- Mobile -->
    <button type="button" style='z-index: 1050;' class="navbar-toggler hidden-sm-up float-xs-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu dropdown-menu-right">
	  <a class="dropdown-item" href="index.html">home</a>
	  <a class="dropdown-item" href="about.html">about</a>
      <a class="dropdown-item" href="members.html">members</a>	    
	<!--  <a class="dropdown-item" href="news.html">News</a> -->
      <!-- <a class="dropdown-item" href="publications.html">Publications</a> -->
      <!-- <a class="dropdown-item" href="events.html">events</a> -->
      <!-- <a class="dropdown-item" href="contact.html">Contact</a> -->
    </div>

	<!-- Computer -->
    <div class="collapse navbar-toggleable-xs">
        <ul class="nav navbar-nav float-xs-right">
		<li class="nav-item"><a class="nav-link" href="index.html">home</a></li>
		<li class="nav-item"><a class="nav-link" href="about.html">about</a></li>
		        <li class="nav-item"><a class="nav-link" href="members.html">members</a></li>
	<!--	<li class="nav-item"><a class="nav-link" href="news.html">News</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" href="publications.html">Publications</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" href="events.html">events</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li> -->
      </ul>
    </div>
  </div>
</nav>
